@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>
    Mi chiamo Caio e sono un brasiliano che attualmente vive in Italia. Pur essendo laureato in Storia, sto cambiando
    percorso di carriera per diventare uno sviluppatore di software.
    La mia passione per la tecnologia e la programmazione è iniziata molto tempo fa, ma ho lavorato nei settori della
    consulenza ambientale e dell'editoria e solo ora ho deciso di intraprendere seriamente questa carriera. Per acquisire le
    competenze tecniche necessarie, ho seguito il programma Oracle Next Education, realizzato in collaborazione con la
    scuola Alura.
    Anche se sono ancora in fase di transizione, sono altamente motivato e desideroso di imparare e di contribuire a un
    team tecnico solido.
</p>
